<% if can_delete_question?(ques_and_answ[:input_type], ques_and_answ[:question]) %>
  <a title='remove line' onclick="DeleteLine('<%= ques_and_answ[:question] %>', '<%= type %>')">
    <super><span class="glyphicon glyphicon-remove cursor" aria-hidden="true"></span></super>
  </a>
<% end %>