<table id="reminders">
  <thead>
    <tr>
      <th class="col-md-1 text-left">Priority</th>
      <th class="col-md-1 text-left">Ref #</th>
      <th class="col-md-2 text-right">Service Type</th>
      <th class="col-md-4 text-left">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% reminders.each do |reminder| %>
        <%= render reminder %>
      <% end %>
    </tr>
  </tbody>
</table>

