<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <%= render partial: 'reminders/current_and_future', locals: { current_reminders: @current_reminders, future_riminders: @future_reminders } %>
    <div class="divider-10"></div>
</div>