<% provide(:button_text, 'Add Reminder') %>
<% provide(:url, reminders_path(method: :post)) %>
<aside class="col-md-3 d-inline-block">
  <section class="user_info">
    <%= render 'shared/copy_panel' %>
  </section>
</aside>

<section class="d-inline-block">
  <h2>Current Reminders</h2>
    <div class="divider-10"></div>
    <%= render partial: 'reminders/reminder_table', locals: { reminders: @reminders } %>
  </div>
</section>

<div class="divider-40"></div>

<h2 class="col-md-9 col-centered">New Reminder</h2>
<div class="divider-10"></div>
<div class="row">
  <div class="col-md-9 col-centered">
    <%= render 'reminders/form' %>
  </div>
</div>