<% provide(:button_text, 'Add Reminder') %>
<% provide(:url, reminders_path(method: :post)) %>
<aside class="col-md-2">
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
</aside>

<section>
  <h2 style="margin-left: 40px">Current Reminders</h2>
  <div class="divider-10"></div>
  <%= render 'shared/current_reminders' %>

  <div class="divider-40"></div>
</section>
<h2 class="text-center">New Reminder</h2>
<div class="divider-10"></div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'reminders/form' %>
  </div>
</div>