<div class="center jumbotron">
  <h1>Call Center Tools</h1>

  <h2>Reminders, note generator and quick copy tools</h2>

  <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
</div>