<li>
  <%= link_to "#{quick_note.category} #{quick_note.name}", quick_note %> | 
  <%= link_to "delete", quick_note, method: :delete,
                              data: { confirm: "You sure?" } %>
</li>