// Place all the styles related to the Reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-centered{
    float: none;
    margin: 0 auto;
}
.glyphicon-ok {
  color: green;
}
.glyphicon-remove {
  color: orange;
}
.glyphicon-trash {
  color: darkred;
}
.logo-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 10px;
}

tr > td {
  padding-top: 5px;
}

.complete {
  border: none !important;
  text-decoration: line-through;
}

.reminder-item {
  border-bottom: 1px solid grey;
}

.priority-complete {
  border-right: 5px solid white;
  border-bottom: 1pt solid white;
}

.priority-1 {
  border-right: 5px solid blue;
  border-bottom: 1pt solid white;
}

.priority-2 {
  border-right: 5px solid green;
  border-bottom: 1pt solid white;
}

.priority-3 {
  border-right: 5px solid #FFFF00;
  border-bottom: 1pt solid white;
}

.priority-4 {
  border-right: 5px solid #FFB200;
  border-bottom: 1pt solid white;
}

.priority-5 {
  border-right: 5px solid red;
  border-bottom: 1pt solid white;
}